<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517643522589-kvvvl1i2ji28sgljjlq79o51ucnn8fh5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517643522589-kvvvl1i2ji28sgljjlq79o51ucnn8fh5</string>
	<key>API_KEY</key>
	<string>AIzaSyAtg4M7TIEs8O0bfqkkp2n9Kjv7tOxPC58</string>
	<key>GCM_SENDER_ID</key>
	<string>517643522589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nithin.grocals</string>
	<key>PROJECT_ID</key>
	<string>grocals-966cf</string>
	<key>STORAGE_BUCKET</key>
	<string>grocals-966cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517643522589:ios:2bd536b5d38e2a99ffecf4</string>
</dict>
</plist>